<launch>
  <!-- Load the map -->
  <arg name="map_file" default="$(find autonomous_explorer)/maps/mymap.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- Topics -->
    <param name="odom_model_type" value="diff" />
    <param name="odom_alpha1" value="0.2" />
    <param name="odom_alpha2" value="0.2" />
    <param name="odom_alpha3" value="0.2" />
    <param name="odom_alpha4" value="0.2" />
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="global_frame_id" value="map" />
    <param name="scan_topic" value="scan" />
  </node>
</launch>
